AOD2024/**
!AOD2024/**/
!AOD2024/**/.gitkeep

BKG/**
!BKG/**/
!BKG/**/.gitkeep

JetMET2024/**
!JetMET2024/**/
!JetMET2024/**/.gitkeep

MuonEG2024/**
!MuonEG2024/**/
!MuonEG2024/**/.gitkeep

SIGNAL/**
!SIGNAL/**/
!SIGNAL/**/.gitkeep

Mu2024/**
!Mu2024/**/
!Mu2024/**/.gitkeep